name: "Terraform Deploy"
on:
  push:
    branches:
      - task3
  pull_request:
  workflow_dispatch:
permissions:
      id-token: write 
      contents: read 
      pull-requests: write 
env:
  TF_LOG: INFO
jobs:
  terraform-check:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
        working-directory: ./terraform
    steps:
      - name: Git checkout
        uses: actions/checkout@v3

      - name: Configure AWS Role
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE }}
          aws-region: ${{ secrets.AWS_REGION }}
          

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.2.5

      - name: Terraform fmt
        id: fmt
        run: terraform fmt -check
        continue-on-error: true

  terraform-plan:
      runs-on: ubuntu-latest
      needs: [terraform-check]
      defaults:
        run:
          shell: bash
          working-directory: ./terraform
      steps:
      - name: Git checkout
        uses: actions/checkout@v3

      - name: Configure AWS credentials from AWS account
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE }}
          aws-region: ${{ secrets.AWS_REGION }}
          

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.2.5

      - name: Terraform Init
        id: init
        env:
          AWS_S3_NAME: ${{ secrets.AWS_S3_NAME }}
          AWS_S3_KEY_NAME: ${{ secrets.AWS_S3_KEY_NAME }}
        run: terraform init -backend-config="bucket=${AWS_S3_NAME}" -backend-config="key=${AWS_S3_KEY_NAME}" -backend-config="region=${{ secrets.AWS_REGION }}"

      - name: Terraform Plan
        id: plan
        run: terraform plan -no-color
        continue-on-error: true
        
  terraform-apply:
        runs-on: ubuntu-latest
        needs: [terraform-plan]
        defaults:
          run:
            shell: bash
            working-directory: ./terraform
        steps:
        - name: Git checkout
          uses: actions/checkout@v3

        - name: Configure AWS credentials from AWS account
          uses: aws-actions/configure-aws-credentials@v4
          with:
            role-to-assume: ${{ secrets.AWS_ROLE }}
            aws-region: ${{ secrets.AWS_REGION }}
          

        - name: Setup Terraform
          uses: hashicorp/setup-terraform@v2
          with:
            terraform_version: 1.2.5

        - name: Terraform Init
          id: init
          env:
            AWS_S3_NAME: ${{ secrets.AWS_S3_NAME }}
            AWS_S3_KEY_NAME: ${{ secrets.AWS_S3_KEY_NAME }}
          run: terraform init -backend-config="bucket=${AWS_S3_NAME}" -backend-config="key=${AWS_S3_KEY_NAME}" -backend-config="region=${{ secrets.AWS_REGION }}"

        - name: Terraform Apply
          id: apply
          run: terraform apply -auto-approve -input=false


        
